/* styling for checkout div. */
.added-product
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayFlex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.checkout
{
    visibility:hidden;
}

.checkout-heading-main
{
    visibility: hidden;
}
